/* 基本布局设置 */
.payment-page{
    font-family: Arial, sans-serif;
        margin-top: 80px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
}
/* 容器样式 */
.container {
    padding: 20px;
    margin-top:60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;

}

/* 提示信息样式 */
.notice {
    font-size: 18px;
    color: #e74c3c; /* 红色 */
    margin-bottom: 20px;
    font-weight: bold;
}

/* 订单号和价格样式 */
.orderId, .total-cost {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.total-cost b {
    color: #27ae60; /* 绿色 */
}


#payModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#qrcode {
    margin: 10px auto;
}
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}